/* p{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 20px;
    outline: 2px solid yellow;
    padding: 10px;
    margin-top: 5%;
    margin: top ;
} */
.boxmodel{
    margin-top:16%;
    margin-left: 40%;
}
.x{
    background-color: rgb(20, 155, 155);
    border: 2px solid rgb(4, 4, 4);
    width: 200px;
    height: 200px;
    border-radius: 25px;
}
.y{
    background-color: brown;
    border: 2px dotted rgb(12, 241, 96);
    width: 150px;
    height: 150px;
    margin-top: 11%;
    margin-left: 11%;

}
.z{
    background-color: rgb(213, 17, 206);
    border: 2px solid rgb(177, 221, 242);
    width: 100px;
    height: 100px;
    margin-top: 15%;
    margin-left: 15%;
    border-radius: 25px;
}
.Box{
    text-align: center;
    justify-content: center;
    padding: 25%;
}